
<div class="modal fade" id="modal-1">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">First Registration</h4>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
             <div class="row">
                <div class="col-md-6">
                   <img src="../assets/img/cupon-2.png" alt="cupon1">
                </div>
                <div class="col-md-6">
                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis asperiores ex mollitia laboriosam repellat, perferendis dolorum nisi eos molestias libero culpa tempore autem. Minus rerum maiores porro? Aspernatur quae consequatur possimus rem doloribus, quidem totam facere modi. Libero sint non minima odit similique maxime praesentium, aspernatur atque eveniet. Laudantium officiis rerum aliquid quas placeat nobis quam similique vero totam enim.
                </div>
             </div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
  </div>
  <div class="modal fade" id="modal-2">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Flash Offer 60%</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
             <div class="col-md-6">
               <img src="../assets/img/cupon-1.png" alt="cupon1">
             </div>
             <div class="col-md-6">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quia aliquid unde modi accusamus, excepturi eum molestias nisi impedit harum ducimus cum quo laboriosam blanditiis maiores maxime, iste corporis et dolores delectus cupiditate! Nisi hic placeat quasi, voluptates natus blanditiis dolores quam nihil eum quibusdam quia! Hic, blanditiis vero. Inventore repellat voluptate esse cupiditate veritatis! Quasi ullam dolores iure quod.</p>
             </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-3">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Invite friends and save more</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <img src="../assets/img/cupon-3.png" alt="cupon3" width="300" height="200">
            </div>
            <div class="col-md-6">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis praesentium molestias, voluptatibus asperiores enim quo eaque ullam rerum iusto fuga, quasi nisi perspiciatis doloremque cumque numquam accusantium fugiat voluptates suscipit ad repellat. Debitis dolor consequuntur libero consectetur labore ab alias voluptates deserunt impedit ratione! Molestiae molestias obcaecati eum quam tempore alias nostrum sapiente laborum cum, est, quod, totam consectetur voluptas.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-4">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Install the app, and get coupon !!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <img src="../assets/img/cupon-4.png" alt="cupon4" width="350" height="250">
            </div>
            <div class="col-md-6">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo neque corrupti fugit deserunt beatae odit libero velit adipisci molestiae enim nostrum nemo quaerat repellendus dolorem labore ex dicta, praesentium molestias! Neque alias unde est impedit ex fugiat omnis eius sequi exercitationem, repudiandae quae dolores, optio aliquam ullam molestias molestiae culpa, iusto quas odit excepturi delectus ea praesentium aspernatur illum. Dicta.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-5">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Save 10% on the next sale</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <img src="../assets/img/cupon-5.png" alt="cupon-5" width="400" height="400">
            </div>
            <div class="col-md-6">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio nobis unde sapiente eius laborum odit, beatae minus nihil repellendus perferendis praesentium possimus maxime tenetur sed nisi eaque enim blanditiis aperiam. Praesentium est quidem temporibus quia expedita soluta. Ad deserunt quidem nostrum adipisci quis obcaecati repellendus pariatur nesciunt, necessitatibus debitis dicta delectus accusamus praesentium vero officia provident architecto in eum ea.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-6">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Get your disscount today !!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <img src="../assets/img/cupon-6.png" alt="cupon6" width="350" height="300">
            </div>
            <div class="col-md-6">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eaque rerum enim repudiandae deserunt vel at tempora temporibus aut ipsum quam ullam nulla id quo, dolore placeat itaque reiciendis aliquam, veniam sit fugiat cum. Qui, tenetur. Dolor asperiores commodi reiciendis! Nihil explicabo veritatis architecto molestias aliquam, nisi culpa ducimus aut optio repudiandae quam earum odit facere laborum vitae illo ex?
            </div>
          </div>
        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
