#body {
    background-image: url("../../assets/img/parking\ header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
h1 {
    width: fit-content;
}
#cuerpo {
    background: rgba(49, 59, 66, 0.8);
    width: 800px;

}
form {
    width: 500px;
}





