<app-navbar (logclick) = "bole = !bole"></app-navbar>
<app-header></app-header>
<section class="container-fluid mb-5">
    <div class="container mt-5">
      <div class="row text-secondary">
        <app-sidebar [resbol]="bole" class="col-lg-2"></app-sidebar>
         <div class="col-lg-10">
            <h2 class="text-dark mb-3">Find Your Place</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut veniam quod quaerat fugiat velit iusto, quibusdam nulla sit hic dolores. Deleniti, et libero. Officia quas distinctio corporis sapiente iste iure voluptatibus neque quos doloremque culpa, ullam ad rerum excepturi placeat, dicta, pariatur dolorum inventore est assumenda consequatur. Laudantium fugit cupiditate cumque numquam alias sequi accusamus laborum, error officia adipisci quos!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut veniam quod quaerat fugiat velit iusto, quibusdam nulla sit hic dolores. Deleniti, et libero. Officia quas distinctio corporis sapiente iste iure voluptatibus neque quos doloremque culpa, ullam ad rerum excepturi placeat, dicta, pariatur dolorum inventore est assumenda consequatur. Laudantium fugit cupiditate cumque numquam alias sequi accusamus laborum, error officia adipisci quos!</p>
            <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut veniam quod quaerat fugiat velit iusto, quibusdam nulla sit hic dolores. Deleniti, et libero. Officia quas distinctio corporis sapiente iste iure voluptatibus neque quos doloremque culpa, ullam ad rerum excepturi placeat, dicta, pariatur dolorum inventore est assumenda consequatur. Laudantium fugit cupiditate cumque numquam alias sequi accusamus laborum, error officia adipisci quos!</p> 
            <app-map></app-map>
          </div>
        </div>
      </div>
    </section>
<app-footer></app-footer>
<!-- Mapbox -->
